<form id="language-form" class="mt-2">
    <select class="form-select" id="language-select" name="language" style="cursor:pointer;">
        <option selected>
            <%= t('select_language') %>
        </option>
        <option value="en">
            <%= t('english_lng') %>
        </option>
        <option value="fr">
            <%= t('french_lng') %>
        </option>
    </select>
</form>